body {
  background: #f6f6f6;
  color: #6a6969;
}

nav {
  background: white;
  border-bottom: 1px solid #ebebeb;
  padding: 15px;
}

nav h2 {
  margin: 0;
  text-align: center;
}

.app-content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.app-content h2 {
  color: #333435;
}

.form-group {
  margin: 10px 0;
}

.form-group label:not(.inline-input) {
  display: block;
}

.form-group input:not([type="checkbox"]), .form-group textarea {
  padding: 5px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  width: 75%;
}

.form-group .inline-input {
  margin-right: 10px;
}