*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  color: #6a6969;
}

nav {
  background: white;
  border-bottom: 1px solid #ebebeb;
  padding: 15px 0;
}

nav .nav-inner {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: inline-block;
  display: flex;
  align-items: center;
}

nav .nav-inner > * {
  display: inline-block;
  margin: 0;
}

nav h2 a {
  color: inherit;
  text-decoration: none;
}

nav h2 a:after {
  content: "";
  display: block;
  height: 2px;
  margin-top: -1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

nav .sync-status {
  flex-grow: 1;
  text-align: right;
}

nav h2 a:hover:after {
  width: 100%;
  background: #6a6969;
}

.app-content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.app-content h2 {
  color: #333435;
}

.top-action-bar {
  padding: 10px 0;
  display: flex;
}

.top-action-grow {
  flex-grow: 1;
}

.top-action-bar .pull-right {
  text-align: right;
}

.form-group {
  margin: 10px 0;
}

.form-group label:not(.inline-input) {
  display: block;
}

.form-group input:not([type="checkbox"]), .form-group textarea {
  padding: 5px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  width: 75%;
}

@media(max-width: 600px) {
  .form-group input:not([type="checkbox"]), .form-group textarea {
    width: 100%;
  }
}

.form-group input[type="number"] {
  width: auto;
}

.form-group textarea {
  font-family: inherit;
}

.form-group .inline-input {
  margin-right: 10px;
}