*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  color: #6a6969;
}

nav {
  background: white;
  border-bottom: 1px solid #ebebeb;
  padding: 15px 0;
}

nav .nav-inner {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: inline-block;
  display: flex;
  align-items: center;
}

nav .nav-inner > * {
  display: inline-block;
  margin: 0;
}

nav h2 a {
  color: inherit;
  text-decoration: none;
}

nav h2 a:after {
  content: "";
  display: block;
  height: 2px;
  margin-top: -1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

nav .sync-status {
  flex-grow: 1;
  text-align: right;
}

nav h2 a:hover:after {
  width: 100%;
  background: #6a6969;
}

.app-content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.app-content h2 {
  color: #333435;
}

.top-action-bar {
  padding: 20px 0 10px 0;
  display: flex;
}

.top-action-grow {
  flex-grow: 1;
}

.top-action-bar .pull-right {
  text-align: right;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label:not(.inline-input) {
  display: block;
  margin-bottom: 2px;
}

.form-group input:not([type="checkbox"]), .form-group textarea {
  padding: 5px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  width: 100%;
  font-family: inherit;
}

.form-group input[type="number"] {
  width: auto;
}

.form-group .inline-input {
  margin-right: 10px;
}

.recipe-form-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333435;
}

.recipe-form-numbers {
  display: flex;
  flex-wrap: 0;
}

.recipe-form-numbers > * {
  margin-right: 10px;
}

@media(max-width: 600px) {
  .recipe-form-numbers > * {
    width: 50%;
    margin-right: 0;
  }
}

.recipe-body {
  margin: 40px 0;
}

.recipe-group-title {
  margin-bottom: 10px;
}

.recipe-group-title h2 {
  margin: 0;
}

.recipe-group-ingredients h4, .recipe-group-instructions h4 {
  margin-bottom: 10px;
}

.recipe-textarea-body {
  white-space: pre-line;
  margin-bottom: 10px;
}

@media(min-width: 800px) {
  .recipe-row {
    display: flex;
    flex-wrap: nowrap;
  }

  .recipe-group-right {
    width: 70%;
    margin-left: auto;
  }

  .recipe-group-ingredients {
    width: 30%;
    padding-right: 10px;
  }
}